@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black-000: rgba(255, 255, 255, 1);
  --black-100: rgba(248, 248, 248, 1);
  --black-1000: rgba(41, 41, 41, 1);
  --black-200: rgba(234, 234, 234, 1);
  --black-500: rgba(150, 150, 150, 1);
  --black-700: rgba(89, 89, 89, 1);
  --black-800: rgba(54, 54, 54, 1);
  --primary-100: rgba(207, 219, 192, 1);
  --primary-1000: rgba(60, 67, 51, 1);
  --primary-1100: rgba(51, 58, 43, 1);
  --primary-50: rgba(242, 250, 233, 1);
  --primary-500: rgba(85, 98, 73, 1);
  --primary-h1-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-h1-font-size: 96px;
  --primary-h1-font-style: normal;
  --primary-h1-font-weight: 400;
  --primary-h1-letter-spacing: 0px;
  --primary-h1-line-height: 125%;
  --primary-h2-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-h2-font-size: 64px;
  --primary-h2-font-style: normal;
  --primary-h2-font-weight: 400;
  --primary-h2-letter-spacing: 0px;
  --primary-h2-line-height: 125%;
  --primary-h3-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-h3-font-size: 40px;
  --primary-h3-font-style: normal;
  --primary-h3-font-weight: 400;
  --primary-h3-letter-spacing: 0px;
  --primary-h3-line-height: 150%;
  --primary-h4-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-h4-font-size: 32px;
  --primary-h4-font-style: normal;
  --primary-h4-font-weight: 400;
  --primary-h4-letter-spacing: 0px;
  --primary-h4-line-height: 125%;
  --primary-h5-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-h5-font-size: 24px;
  --primary-h5-font-style: normal;
  --primary-h5-font-weight: 400;
  --primary-h5-letter-spacing: 0px;
  --primary-h5-line-height: 150%;
  --primary-microcopy-font-family: "RoyalExquisite-Regular", Helvetica;
  --primary-microcopy-font-size: 16px;
  --primary-microcopy-font-style: normal;
  --primary-microcopy-font-weight: 400;
  --primary-microcopy-letter-spacing: 0px;
  --primary-microcopy-line-height: normal;
  --secondary-1000: rgba(124, 93, 80, 1);
  --secondary-500: rgba(161, 124, 107, 1);
  --secondary-body-1-font-family: "Outfit-SemiBold", Helvetica;
  --secondary-body-1-font-size: 18px;
  --secondary-body-1-font-style: normal;
  --secondary-body-1-font-weight: 600;
  --secondary-body-1-letter-spacing: 0px;
  --secondary-body-1-line-height: normal;
  --secondary-body-2-font-family: "Outfit-Regular", Helvetica;
  --secondary-body-2-font-size: 16px;
  --secondary-body-2-font-style: normal;
  --secondary-body-2-font-weight: 400;
  --secondary-body-2-letter-spacing: 0px;
  --secondary-body-2-line-height: 150%;
  --secondary-body-3-font-family: "Outfit-Medium", Helvetica;
  --secondary-body-3-font-size: 16px;
  --secondary-body-3-font-style: normal;
  --secondary-body-3-font-weight: 500;
  --secondary-body-3-letter-spacing: 0px;
  --secondary-body-3-line-height: normal;
  --secondary-body-4-font-family: "Outfit-Regular", Helvetica;
  --secondary-body-4-font-size: 14px;
  --secondary-body-4-font-style: normal;
  --secondary-body-4-font-weight: 400;
  --secondary-body-4-letter-spacing: 0px;
  --secondary-body-4-line-height: 150%;
  --secondary-body-5-font-family: "Outfit-Bold", Helvetica;
  --secondary-body-5-font-size: 14px;
  --secondary-body-5-font-style: normal;
  --secondary-body-5-font-weight: 700;
  --secondary-body-5-letter-spacing: 0px;
  --secondary-body-5-line-height: normal;
  --secondary-microcopy-01-font-family: "Outfit-Regular", Helvetica;
  --secondary-microcopy-01-font-size: 12px;
  --secondary-microcopy-01-font-style: normal;
  --secondary-microcopy-01-font-weight: 400;
  --secondary-microcopy-01-letter-spacing: 0px;
  --secondary-microcopy-01-line-height: normal;
  --secondary-mirco-02-font-family: "Outfit-Regular", Helvetica;
  --secondary-mirco-02-font-size: 10px;
  --secondary-mirco-02-font-style: normal;
  --secondary-mirco-02-font-weight: 400;
  --secondary-mirco-02-letter-spacing: 0px;
  --secondary-mirco-02-line-height: normal;
  --tertiary-body-1-font-family: "GreatVibes-Regular", Helvetica;
  --tertiary-body-1-font-size: 40px;
  --tertiary-body-1-font-style: normal;
  --tertiary-body-1-font-weight: 400;
  --tertiary-body-1-letter-spacing: 0px;
  --tertiary-body-1-line-height: 150%;
  --tertiary-body-2-font-family: "GreatVibes-Regular", Helvetica;
  --tertiary-body-2-font-size: 24px;
  --tertiary-body-2-font-style: normal;
  --tertiary-body-2-font-weight: 400;
  --tertiary-body-2-letter-spacing: 0px;
  --tertiary-body-2-line-height: normal;
}
